﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Productos</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Nuevo Pedido", "New", "Order", null, new { @class = "btn btn-primary" })
    </p>
}
<div class="panel panel-default panel-main">
    <div class="panel-heading">Listado de productos</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tblproduct" class="table table-striped">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Color</th>
                        <th>Largo (M)</th>
                        <th>Ancho (M)</th>
                        <th>M. en Piso</th>
                        <th>M2</th>
                        <th>Peso</th>
                        <th>Codigo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
<script>
    $(document).ready(function () {
        var table = $("#tblproduct").DataTable({
            ajax: {
                url: "/api/product",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Order.Folio"
                },
                {
                    data: "Order.Customer.Name"
                },
                {
                    data: "CaProduct.Name",
                    render: function (data, type, product) {
                       // return "<a href='/product/edit/" + product.Id + "'>" + data + "</a>";
                        return "<a href='#'>" + data + "</a>";
                    }
                },
                {
                    data: "Color"
                },
                {
                    data: "Long"
                },
                {
                    data: "Width"
                },
                {
                    data: "Quantity"
                },
                {
                    data: "id",
                    render: function (data, type, product) {
                        var m2 = product.Long * product.Width * product.Quantity;
                        return m2.toFixed(3);
                    }
                },
                {
                    data: "id",
                    render: function (data, type, product) {
                        var peso = product.Long * product.Width * product.Quantity * product.CaProduct.Weight;
                        return peso.toFixed(3);
                    }
                },
                {
                    data: "Barcode",
                    render: function (data, type, product) {
                        return "<a href='/product/label/" + data + "'>"+data+"</a>";
                    }
                }
              
            ]
        });//Datatable
    });//Documen.ready
</script>
}