﻿@{
    ViewBag.Title = "Entradas y Salidas";
}
<h2>Entradas y salidas de confeccion</h2>

<div class="panel panel-default panel-main">
    <div class="panel-heading">Listado de entradas y salidas</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tbllog"  class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Color</th>
                    <th>Largo (M)</th>
                    <th>Ancho (M)</th>
                    <th>Pedido</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script>
    $(document).ready(function () {
        var table = $("#tbllog").DataTable({
            ajax: {
                url: "/api/log",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Product.CaProduct.Name"
                },
                {
                    data: "Product.Color"
                },
                {
                    data: "Product.Long"
                },
                {
                    data: "Product.Width"
                },
                {
                    data: "Product.Order.Folio"
                },
                {
                    data: "Datetime",
                    render: function (data) {
                        return formatDate(data);
                    }
                },
                {
                    data: "Type",
                    render: function (data) {
                        if (data == "ENTRADA") {
                            return "<button class='btn btn-xs btn-success'>" + data + "</button>";
                        }
                        else {
                            return "<button class='btn btn-xs btn-danger'>" + data + "</button>";
                        }
                    }
                }
            ]
        });//Datatable
        });//Documen.ready

        function formatDate(date) {
            date = new Date(date);
            year = date.getFullYear();
            month = date.getMonth() + 1;
            dt = date.getDate();
            if (dt < 10) {
                dt = '0' + dt;
            }
            if (month < 10) {
                month = '0' + month;
            }
            return (year + '/' + month + '/' + dt);
        }
    </script>
}
