﻿@model Inventario.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = "New Product";
}

<h2>Nuevo Producto</h2>
@using (Html.BeginForm("Create", "Product",FormMethod.Post)) {
    @Html.HiddenFor(p=>p.Product.Id)
    <div class="form-group">
        @Html.LabelFor(p=>p.Product.Caproduct_id)
        @Html.DropDownListFor(p=>p.Product.Caproduct_id,new SelectList(Model.CaProducts,"Id","Name"),"Selecciona Producto", new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Color)
        @Html.DropDownListFor(p => p.Product.Color, new SelectList(Model.Colors, "Name", "Name"), "Selecciona Color", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Width)
        @Html.TextBoxFor(p => p.Product.Width, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Width, null, new { @class = "alert-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Long)
        @Html.TextBoxFor(p => p.Product.Long, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Long, null, new { @class = "alert-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Quantity)
        @Html.TextBoxFor(p => p.Product.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Quantity, null, new { @class = "alert-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Product.Order)
        @Html.TextBoxFor(p => p.Product.Order, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Product.Order, null, new { @class = "alert-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
}

