﻿
@{
    ViewBag.Title = "Reporte de Piso";
}

<h2>Reporte de Entradas y Salidas</h2>
<h6>Seleccione el rango de fecha del reporte</h6>
@using (Html.BeginForm("ReportLogPost", "Product", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Fecha Inicial")
        @Html.TextBox("dateinitial", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @data_val = "true", @data_val_required = "Fecha inicial requerida", type="date"})
        @Html.ValidationMessage("dateinitial", null, new { @class = "alert-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Fecha Final")
        @Html.TextBox("datefinal", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @data_val = "true", @data_val_required = "Fecha inicial requerida", type = "date" })
        @Html.ValidationMessage("datefinal", null, new { @class = "alert-danger" })
    </div>
  
    <button type="submit" class="btn btn-primary">Aceptar</button>
}

