﻿@model Inventario.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = "Nuevo Pedido";
}

<h2>Nuevo Pedido</h2>
@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { id = "addForm" }))
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Customer_id","Cliente")
                @Html.DropDownList("Customer_id", new SelectList(Model.Customers, "Id", "Name"), "Selecciona Cliente", new { @class = "form-control", @data_val = "true", @data_val_required = "Cliente Requerido" })
                @Html.ValidationMessage("Customer_id", null, new { @class = "alert-danger" })
            </div>
        </div> 
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Folio","Pedido")
                @Html.TextBox("Folio", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Pedido requerido", type = "text" })
                @Html.ValidationMessage("Folio", null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Place","Destino")
                @Html.TextBox("Place", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Destino Requerido", type = "text" })
                @Html.ValidationMessage("Folio", null, new { @class = "alert-danger" })
            </div>
        </div>
    </div>
    <hr />
    <h4>Productos:</h4>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Caproduct_id", "Producto")
                @Html.DropDownList("Caproduct_id", new SelectList(Model.CaProducts, "Id", "Name"), "Selecciona Producto", new { @class = "form-control", @data_val = "true", @data_val_required = "Prodcucto requerido" })
                @Html.ValidationMessage("Caproduct_id", null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Color", "Color")
                @Html.DropDownList("Color", new SelectList(Model.Colors, "Name", "Name"), "Selecciona Color", new { @class = "form-control", @data_val = "true", @data_val_required = "Color requerido" })
                @Html.ValidationMessage("Color", null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Width", "Ancho")
                @Html.TextBox("Width", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Ancho requerido", type = "text" })
                @Html.ValidationMessage("Width", null, new { @class = "alert-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Long", "Largo")
                @Html.TextBox("Long", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Largo requerido", type = "text" })
                @Html.ValidationMessage("Long", null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="form-group">
                @Html.Label("Quantity", "Stock")
                @Html.TextBox("Quantity", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Stock requerido", type = "number" })
                @Html.ValidationMessage("Quantity", null, new { @class = "alert-danger" })
            </div>
        </div>
        <div class="col-md-3 col-lg-3"> 
            <div class="form-group">
                <label></label>
                <button type="button" id="addProduct" class="btn btn-primary form-control"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Producto</button>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Productos Agregados</div>
        <div class="panel-body">
                <div class="table-responsive">
                    <form id="formSave">
                        <table id="tblproduct" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Color</th>
                                    <th>Ancho (M)</th>
                                    <th>Largo (M)</th>
                                    <th>Stock</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="fields"></tbody>
                        </table>
                    </form>
                </div>
            
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="saveProduct">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
        </div>
    </div>
    <div id='loadingmessage' style='display:none; position: absolute;top: 48%;left: 50%;'>
        <img src=@Url.Content("~/Content/img/Cargando.gif") />
    </div>
}
@section scripts
{
<script>
    $(document).ready(function () {
        var itemInput = 0;
        $('#addProduct').click(
            function () {
                $('#addForm').validate();
                var val1 = $('#Caproduct_id option:selected').val(),
                    text1 = $('#Caproduct_id option:selected').text(),
                    val2 = $('#Color option:selected').val(),
                    val3 = $('#Width').val(),
                    val4 = $('#Long').val(),
                    val5 = $('#Quantity').val()


                var input1 = '<tr><td><input type="hidden" name="products[' + itemInput +'].Caproduct_id" value="'+val1+'" required>'+text1+'</td>',
                    input2 = '<td><input type="hidden" name="products[' + itemInput + '].Color" value="' + val2 + '" required>' + val2 +'</td>',
                    input3 = '<td><input type="text" name="products[' + itemInput + '].Width" value="' + val3 +'" required></td>',
                    input4 = '<td><input type="text" name="products[' + itemInput + '].Long" value="' + val4 +'" required></td>',
                    input5 = '<td><input type="number" name="products[' + itemInput + '].Quantity" value="' + val5 +'" required></td>',
                    button = '<td><button type="button"  class="btn btn-sm btn-danger delete-field"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>';
                var addForm = input1 + input2 + input3 + input4 + input5 + button;
                if (val1 === "" || val2 === "") {
                    swal(
                        'Complete todos los campos',
                        'Haz click para continuar...',
                        'warning'
                    )
                } else {
                    $('#tblproduct').append(addForm);
                    itemInput++;
                }

            }
        );//end click addproduct

        $('#tblproduct').on('click', '.delete-field', function () {
            $(this).parent().parent().remove();
        });//end deete field

        $('#saveProduct').click(function () {
            $('#formSave').validate();
            var products = $('#tblproduct input').serialize();
            var customer = $('#Customer_id option:selected').val();
            var folio = $('#Folio').val();
            var place = $('#Place').val();
            //validate
            if (customer === "" || folio === "" || place === "") {
                swal(
                    'Complete todos los campos',
                    'Haz click para continuar...',
                    'warning'
                )
            } else {
                $('#loadingmessage').show();
            var data = products + '&Customer_id=' + customer + '&Folio=' + folio + '&Place=' + place
            var url = '@Url.Action("Save", "Order")';
            console.log(data);
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (result) {
                    $('#loadingmessage').hide();
                    swal({
                        title: result.msg,
                        text: "Presione para continuar...",
                        type: result.res,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Aceptar'
                    }).then(function () {
                        $(location).attr('href', '@Url.Action("Index", "Product")');
                    })
                }
            });//end ajax callt+t+
            }//ifelse validation

        });// end SaveProduct

    });//end document.ready

</script>   
}
